# Dependencies
node_modules/

#api
api/

# Build outputs
dist/
build/
.output/
.nuxt/
public/assets/.vite/
public/assets/css/*-*.min.css
public/assets/js/*-*.min.js
public/assets/js/*-*.js
public/assets/assets/*-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
storage/logs/
storage/rate-limits/
public/uploads/requests/

# Coverage
coverage/
.nyc_output/

# Environment files
.env
.env.*
!.env.example

# Caches and temp
.cache/
.vite/
tmp/
temp/
*.tmp

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
